@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body styling */

body * {
    font-family: 'EB Garamond', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid rgba(224, 224, 200, 0.7);
}

.main-page-body {
    background-color: rgba(224, 224, 200, 0.7);
}

/* header styling, logo and nav */

#header-container {
    width: 100%;
    line-height: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: space-between;
}

#logo-crest {
    display: flex;
    flex-direction: row;
    padding-left: 2%;
}

#logo {
    font-size: 300%;
    color: rgba(224, 224, 200);
    padding-left: 60px;
}

#menu {
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    padding-right: 10%;
}

#menu a {
    list-style-type: none;
    margin-right: 30px;
    font-size: 150%;
    color: rgba(224, 224, 200);
    height: 100px;
}

#crest {
    width: 60px;
    background-image: url('../images/oda-crest2.jpg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
}

#logo:hover {
    text-decoration: underline solid rgba(224, 224, 200, 0.7);
}

#menu li:hover {
    text-decoration: underline solid rgba(224, 224, 200, 0.7);
}

/* Background image and styling*/

#background-image {
    height: 820px;
    width: 100%;
    background: url(../images/oda-background-2resreduced.jpg);
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
}

#one-liner {
    background-color: rgba(224, 224, 200, 0.9);
    width: 300px;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 100px;
    padding-top: 10px;
    font-size: 150%;
}

/* Body and Columns Styling */

#character-columns {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 400px;
    text-align: center;
    margin-bottom: 120px;
    position: relative;
}

.body-column {
    width: 33%;
}

.body-column>a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.body-column>p {
    padding-left: 20px;
    padding-right: 20px;
}

.character {
    height: 200px;
    width: 200px;
}

#legacy-character {
    width: 300px;
    height: 200px;
}

.character-links {
    width: auto;
    height: 300px;
    padding-top: 50px;
    margin: 20px;
    text-decoration: none;
}

.character-links:hover {
    border: 3px solid black;
    border-radius: 50%;
}

.bottom-crest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    clear: both;
}

/* Footer styling */

.footer-items {
    line-height: 80px;
    width: 100%;
}

#social-media {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#social-media a {
    display: inline;
    margin-right: 40px;
    margin-left: 40px;
    color: rgba(224, 224, 200);
    font-size: 200%;
}

#footer-container {
    background-color: black;
    clear: both;
}

/** Rise page **/

/** Early life **/

#early-life {
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: 600px;
}

.story-pages-heading h2 {
    font-size: 200%;
}

.story-pages-subheading h3 {
    padding-bottom: 10px;
}

#early-life-text {
    width: 50%;
    padding: 3%;
    background-color: rgba(250, 250, 250, 0.5);
}

#early-life-image {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

/** Unification **/

#unification {
    padding: 30px;
}

#unification-text {
    background-color: rgba(250, 250, 250, 0.5);
    padding: 30px;
}

/** Map **/

#map-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#map-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#map {
    height: 500px;
    width: 100%;
    background: url(../images/odamap2.webp) no-repeat center center;
    animation-name: map-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    background-position: center;
    background-size: 60%;
}

@keyframes map-zoom {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.1)
    }
}

#map-text {
    background-color: rgba(250, 250, 250, 0.5);
    width: 280px;
    padding: 30px;
    margin: 30px;
    position: absolute;
    left: 10%;
    top: 1%;
}

/** Reign page styling **/

.main-page-text {
    background-color: rgba(250, 250, 250, 0.5);
    padding: 30px;
}

/** Conquest **/

#conquest {
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: auto;
    align-items: center;
}

#conquest-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#battle1-image {
    width: 750px;
    height: 375px;
    padding-left: 30px;
}

/** Unification of Japan **/

#unification-japan {
    display: flex;
    flex-direction: row;
    padding: 30px;
    height: auto;
}

#castle-container {
    height: auto;
    background-color: rgba(250, 250, 250, 0.5);
}

#castle {
    width: 600px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/** Video section **/

#shooting-video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shooting-video {
    width: 885px;
    height: 500px;
}

/* Legacy Page, starting with Betrayal */

#betrayal {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

#betrayal-text {
    padding-top: 5%;
}

/* History and Legacy Section */

#history-legacy {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

#legacy-text {
    padding-top: 5%;
}

/* Styling for 404 page */

#page404-main {
    background-color: rgba(224, 224, 200, 0.7);
    height: 600px;
    width: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#page404-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 150%;
}

/* Media Queries */

/* For large/medium screens */

@media screen and (max-width: 1200px) {
    #character-columns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1300px;
    }

    #menu {
        padding-left: 100px;
    }


    #logo {
        font-size: 250%;
        padding-right: 30px;
    }

    .body-column {
        width: 60%;
        padding-left: 20%;
    }

    #early-life {
        display: flex;
        flex-direction: column;
        padding: 30px;
        clear: both;
        height: auto;
        align-items: center;
    }

    #early-life-text {
        width: auto;
    }

    #early-life-image {
        width: auto;
        height: 500px;
    }

    #map-section {
        flex-direction: row;
    }

    #map {
        height: 450px;
        width: 800px;
        display: flex;
        justify-content: center;
        background-size: 80%;
    }

    #map-outer {
        height: 450px;
        width: 800px;
        display: flex;
        justify-content: center;
    }

    #map-text {
        position: absolute;
        width: 250px;
        padding: 20px;
        margin: 0;
        top: 0px;
        left: 3%;
    }

    #conquest {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    #conquest-text {
        display: flex;
        flex-direction: column;
    }

    #battle1-image {
        float: none;
        padding-left: 0;
    }

    #battle1-container {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    #unification-japan {
        height: auto;
        flex-direction: column;
    }

    #castle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95%;
    }

    #castle {
        padding-top: 0px;
        padding-bottom: 30px;
        height: 400px;
        padding-right: 0px;
    }

    #betrayal-image {
        width: auto;
        height: 500px;
    }

    #betrayal {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #history-legacy {
        flex-direction: column-reverse;
        align-items: center;
    }

    #betrayal-text {
        padding-top: 3%;
    }

    #legacy-text {
        padding-top: 3%;
    }

}

/* For small screens less than 950px */

@media screen and (max-width: 950px) {
    #header-container {
        width: 100%;
        line-height: 60px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    #menu {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
        align-items: center;
    }

    #logo {
        font-size: 200%;
        text-align: center;
        padding: 10px;
    }

    #logo-crest {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    #menu a {
        height: 50px;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #crest {
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }

    #background-image {
        height: 750px;
    }

    #one-liner {
        width: 240px;
        height: 80px;
        text-align: center;
        position: absolute;
        top: 30px;
        left: 30px;
        padding-top: 10px;
        font-size: 100%;
    }

    #character-columns {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        height: 500px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 120px;
    }

    .character {
        height: 120px;
        width: auto;
    }

    #legacy-character {
        width: 160px;
        height: 110px;
    }

    .character-links {
        width: 200px;
        height: 200px;
        text-decoration: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .bottom-crest {
        clear: both;
        padding-bottom: 10px;
    }

    .body-column {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .body-column>p {
        padding: 0;
    }

    #early-life-image {
        width: 100%;
        height: auto;
    }

    #map {
        width: 95%;
        background-size: 95%;
    }

    #map-outer {
        width: 95%;
    }

    #map-section {
        width: 100%;
        position: static;
        flex-direction: column-reverse;
        align-items: center;
    }

    #map-text {
        position: static;
        width: 80%;
    }

    #battle1-image {
        width: 100%;
        height: auto;
    }

    #castle {
        height: auto;
        width: 70%;
    }

    #shooting-video {
        width: 450px;
        height: 300px;
    }

    #betrayal {
        flex-direction: column;
    }

    #legacy-map {
        width: auto;
        height: 450px;
    }



    /* For smallest mobile screens */

    @media screen and (max-width: 500px) {
        #one-liner {
            width: 135px;
            height: 50px;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 10px;
            padding-top: 5px;
            font-size: 70%;
        }

        #background-image {
            height: 550px;
        }

        .bottom-crest {
            height: 80px;
        }

        #early-life-image {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        #shooting-video {
            width: 95%;
            height: 260px;
        }

        #betrayal-image {
            width: 300px;
            height: auto;
        }

        #legacy-map {
            width: 300px;
            height: auto;
        }

    }

}