@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body styling */

body * {
    font-family: 'EB Garamond', sans-serif;
}

/* header styling, logo and nav */

.page-left {
    float: left;
    margin-left: 50px;
}

.header-items-height {
    line-height: 80px;
    height: 80px;
}

#header-container {
    background-color: black;
    width: 100%;
}

#logo {
    font-size: 300%;
    text-transform: uppercase;
    color: rgba(224, 224, 200)
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 150%;
    text-decoration: none;
    color: rgba(224, 224, 200);
    text-transform: uppercase;
}


#crest {
    width: 80px;
    float: left;
    background-image: url('../images/oda-crest2.jpg');
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

menu a:hover {
    border-bottom: 1px solid blue;
    background-color: aqua;
}

menu li:hover {
    border-bottom: 1px solid blue;
    background-color: aqua;
}

/* Background image and styling*/

#background-image {
    height: 820px;
    width: 100%;
    background: url(../images/oda-background-2resreduced.jpg);
    background-size: 100%;
}

#one-liner {
    background-color: rgba(224, 224, 200, 0.7);
    width: 220px;
    height: 40px;
}

/* Body and Columns Styling */

.body-column {
    width: 33%;
    height: 400px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.body-column>h2 {
    font-size: 200%;
}

.body-column>p {
    padding: 50px;
}

#left-column {
    float: left;
}

#right-column {
    float: right;
}

#mid-column {
    margin: 0 auto;
}

.character {
    height: 200px;
    width: 200px;
}

#legacy-character {
    width: 300px;
    height: 200px;
}

#bottom-crest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
}

/* Footer styling */

.footer-items {
    line-height: 80px;
    width: 100%;
}

#social-media {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#social-media li {
    display: inline;
    margin-right: 40px;
    margin-left: 40px;
    color: rgba(224, 224, 200);
    font-size: 200%;
}

#footer-container {
    background-color: black;
    clear: both;
}