@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body styling */

body * {
    font-family: 'EB Garamond', sans-serif;
}

/* header styling, logo and nav */

#header-container {
    background-color: black;
    width: 100%;
    height: 100px;
}


#logo {
    float: left;
    margin-left: 50px;
    font-size: 300%;
    text-transform: uppercase;
    color: #e4d2d2;
}

#logo,
#menu {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 150%;
    text-decoration: none;
    color: #e4d2d2;
}

#crest-container {
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
    margin-right: 10px;

}

/* Background image and styling*/

#background-image {
    height: 820px;
    width: 100%;
    background: url(../images/oda-background-2resreduced.jpg);
    background-size: 100%;
    clear: both;
}

/* Footer styling */

#social-media {
    height: 80px;
    margin: auto;
    width: 50%;
}

#social-media li {
    line-height: 80px;
    display: inline;
    color: #e4d2d2;
    margin-right: 40px;
    margin-left: 20px;
    text-transform: uppercase;
}

#footer-container {
    background-color: black;
    width: 100%;
    height: 80px;
}